.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-item{
    margin: 1rem;
}

.card-img-top{
    height: 210px;
    width: 220px;
}